*{
    padding: 0;
    margin: 0;
    text-decoration: none;
} 
/* ---------celuuuu-------- */
nav{
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0px;
}
ul{
    background-color: aquamarine;
    font-size: 0;
    list-style: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
li{
    display: inline-block;
    position: relative;
    font-size: 15px;
    padding: 5px;
}
ul ul{
    position: absolute;
    gap: 3rem;
    display: none;
    
}
ul ul li {
    display: block;
}
ul li:hover ul{ 
    display: block
}
a{
    padding: 1rem;
}
a:hover{
    background-color: blue;
    border-radius: 10px;
}

/* form------------- */
form{
    display: flex;
    justify-content: center;
}
.campos{
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    margin: 2rem;
    border-color: gold;
    border-radius: 20px;
    background-color: ghostwhite;
    width: 20rem;
}
input,select,textarea{
    margin-bottom: 1rem;
}
.botones {
    display:flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    flex-wrap: nowrap;
}
.botones input{
    padding: 5px;
}
.botones input:hover{
    background-color: blue;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.celda,select{
    border: none;
    border-radius: 5px;
    border-bottom-style: inset ;
}
/* --------tablettttt---------- */
@media (min-width:768px){
    .campos{
        width: 30rem;  
        background-color: aquamarine; 
        background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,90,121,0.7259278711484594) 0%, rgba(0,212,255,1) 100%);

        align-items: center;
        border-style: none;
        font-size: 20px;
        letter-spacing: 5px;
    }
        ul{
            background-color: yellow;  
        }
        body{background-color: grey
            }
            a{
                font-size: 20px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                text-transform: uppercase;
            }
            legend{
                font-size: 2rem;
                color: rgb(122, 41, 41);
            }
            .botones input{
                                font-size: 2rem;
                        }
                        .botones input:hover{
                            background-color: yellow;
                            color: black;
                        }
}
/*-------------pantallas------------- */
@media(min-width:992px){
    ul{
        background-color: greenyellow;  
        
    }
        a{
        font-size: 30px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    word-spacing: 8px;
    letter-spacing: 2px;
    text-shadow: 1rem 1rem 1rem black;
    }
    body{
        background-color: antiquewhite;
        
    }
    .campos{
        width: 50rem;
        display:flex;
        align-items: flex-start;
        
    }
    legend{
        color: brown;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-shadow: 1rem 1rem 1rem red;
    }
    .paises{
        font-size: 25px;
    }
    .paises input{
        width: 20px;
        height: 20px;
    }
    .botones input{
        text-transform: lowercase;
        border-radius: 10px;
    }
    .botones input:hover{
background-color: blueviolet;
box-shadow: 3rem 3rem 3rem black;
text-transform: lowercase;
    }
    label,.terminos{
        font-size: 30px;
    }
.terminos input{
    height: 20px;
    width: 20px;
}
select{
    font-size: 2rem;
    border-radius: 15px;
}
.celda{
    width: 15rem;
    height: 2rem;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    border-bottom: 5px;
}
textarea{
    width: 40rem;
    font-size: 25px;
}
}